// Variables
$primary: #0aab07;
$primary-color: $primary;
$progressive-color: $primary;
$playing-color: #21e61e;//slightly brighter than $primary
$primary-subdued-color: #067105;
$deep-house-color: #8fdeff;
$drum-bass-color: #f6ff8f;
$dreamstep-color: #ff8f98;
$subdued: #777;
$more-subdued: #555;
$way-subdued: #333;


// mix-colors
$rating-1-color: #6ad1ff;
$rating-2-color: #6affe1;
$rating-3-color: #6affa4;
$rating-4-color: #9eff6a;
$rating-5-color: #d5ff6a;
$rating-6-color: #ffe800;
$rating-7-color: #ffd66a;
$rating-8-color: #ffba6a;
$rating-9-color: #d67f58;
$rating-10-color: #ff6a6a; 